.blueText {
  font-size: 18px;
  color: #57a0ff;
  font-weight: bold;
}

.searchInput {
  height: 55px;
}

.weatherCity {
  margin: 5px 18px;
  color: grey;
  font-weight: bold;
}

.sunnyDay {
  font-size: 25px;
}

#cityCanti {
  font-weight: 500;
  margin-top: 30px;
  font-size: 60px;
}

sup {
  font-size: 30px;
  font-weight: 100;
}

.weekDays {
  font-size: 18px;
  color: grey;
}

.dgree {
  font-size: 20px;
  color: grey;
}

#cantimeter,
#farenhite {
  cursor: pointer;
}
