.forecastBox {
  border: 1px solid rgb(249, 132, 64);
  border-radius: 15px;
  margin-top: 50px;
  padding: 30px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(249, 132, 64, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.temperatureIfon {
  font-size: 18px;
}
